body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 100vh;
}

.container {
    background-color: rgb(255 69 0);
    text-align: center;
    background: linear-gradient(
        to right,
        rgb(0 0 0) 0%,
        rgb(255 165 0) 49%,
        rgb(255 255 255) 50%,
        rgb(255 69 0) 51%,
        rgb(0 0 0) 100%
    );
    color: rgb(0 0 0);
    position: relative;
}

input {
    height: 25px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    color: rgb(255 69 0);
    border: rgb(255 69 0);
    background-color: rgb(255 255 255);
    margin: 10px;
}

input::placeholder {
    color: rgb(255 69 0);
    opacity: 0.5;
}

input:focus {
    box-shadow: 0 0 0 2px rgb(255 165 0), rgb(255 69 0) 3px;
}

.show-password {
    position: absolute;
    right: 125px;
    top: 69%;
    transform: translate(-50%);
    cursor: pointer;
    color: rgb(255 69 0);
}

.show-p {
    position: absolute;
    right: 135px;
    top: 84%;
    color: rgb(255 69 0);
    cursor: pointer;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(255 69 0);
}

.confirm {
    display: flex;
    align-self: flex-end;
    width: 20%;
    background-color: transparent;
    border: solid rgb(255 69 0);
    border-radius: 30%;
}

.confirm:hover {
    animation: pulsate 3s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px rgb(255 165 0), 0 0 50px rgb(255 69 0);
    }
}