* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
    color: #fff;
}

body {
    background: linear-gradient(rgb(0 0 0), rgb(0 0 0), rgb(255 69 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255 255 255);
    font-family: 'consolas', sans-serif,  monospace;
}



#logo {
    font-size: 40px;
    color: black;
    font-family: 'consolas', sans-serif;
}

ul li a {
    color: rgb(255 70 0);
    text-decoration: none;
}

ul li a:hover {
    color: rgb(255 140 50);
}

nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(255 70 0);
}

p {
    text-align: center;
}

.all {
    width: 100%;
    
}

#search {
    background-color: #b5b5b5;
    height: 30px;
    width: 72%;
    margin-left: 14%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    font-size: larger;
    margin-bottom: 20px;
}

.clips-bg {
    background-color: rgba(255, 70, 0, 0.2);
    opacity: 0.8;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.name {
    color: rgb(255 70 0);
    font-size: 35px;
}

.zip-btn {
    display: inline-block;
    color: black;
    padding: 10px 40px;
    border: 3px solid orangered;
    border-radius: 30%;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

@media screen and (max-width: 1600px) {
    .logo {
        font-size: 60px;
        text-decoration: solid;
    }
    ul li a {
        color: black;
        font-size: 30px;
        margin-right: 30px;
        background-color: rgb(255 80 0);
        padding: 10px;
        border-radius: 10px;
    }

    ul li a:hover  {
        background-color: rgb(255 80 20);
    }

    ul li {
        display: inline;
        line-height: 40px;
    }

    .off-screen-menu {
        margin-left: 100px;
    }

    p {
        font: 30px;
    }

    .all {
        display: grid;
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 1000px){
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    ul li a {
        font-size: 20px;
        color: black;
        width: 30px;
        margin-right: 4px;
        margin-left: -12px;
    }

    ul li {
        display: inline;
        margin-right: 5px;
        line-height: 80px;
    }

    p {
        margin: 0 20px;
    }

    .off-screen-menu {
        margin-left: 100px;
    }

    .all {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 800px){
    .off-screen-menu {
        background-color: rgb(0 0 0);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -1650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 70px;
        transition: .10s ease-in-out;
    }
    
    .off-screen-menu.active {
        right: 0;
    }

    /*3 dots menu*/
    .ham-menu {
        height: 50px;
        width: 40px;
        margin-left: auto;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: rgb(190 190 190);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    /*upper one*/
    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    /*lower one*/
    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    /*when clicked*/

    .ham-menu.active span{
        background-color: rgb(255 70 0);
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .ham-menu.active .box {
        backdrop-filter: blur(0);
    }

    ul li a {
        color: rgb(255 70 0);
        display: block;
        line-height: 5px;
        top: 10px;
        background-color: transparent;
    }

    ul li a:hover {
        color: rgb(255 80 20);
        background-color: transparent;
    }

    #search {
        background-color: #b5b5b5;
        height: 30px;
        width: 72%;
        margin-left: 14%;
        margin-top: 10px;
        border-radius: 5px;
        text-align: center;
        color: #000000;
        font-size: larger;
    }

.all {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 500px) {
    .off-screen-menu {
        background-color: transparent;
        backdrop-filter: blur(20px);
    }

    .logo {
        font-size: 8px;
    }

    .ham-menu.active span{
        background-color: rgb(0 0 0);
    }

    .all {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: auto;
    }
}

@media screen and (max-width: 400px) {
    .all {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-auto-rows: auto;
    }
}