<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="shortcut icon" href="../templates/smasduq.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="shortcut icon" href="" type="image/png">
    
    <title>Smasduq - Home</title>
</head>
<body>
    <header>
        
        <nav>
            <label id="logo">Smasduq</label>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
                <div class="off-screen-menu">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="download.html">Download</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="welcome">About this website</h1>
        <p>This website is created by me (Smasduq). I create this website for me to test what I learn, and to fun, I mean adding clips.</p>
        <p>Currently, I don't have much experience to build a fullstack web, but I'll still learn and use  what i have. I'll be updating it when I get what to put.</p>
        
    </main>
    <footer>
        <p>v1.0.1</p>
    </footer>
    <script href="../static/home.js">
        const shownav = document.querySelector('.ham-menu');

const nav = document.querySelector('.off-screen-menu');

shownav.addEventListener('click', () =>  {
    shownav.classList.toggle('active');
    nav.classList.toggle('active');
})
    </script>
</body>
</html>