<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="120">
    <meta name="description" content="Download Anime, Manga and Cars clips for edit.">
    <meta name="keywords" content="smasduq, anime, manga, edit, edits, car, cars, clip, clips, gojo, sukuna, luffy, zoro, sung, jin, woo, solo, levelling, jjk, Smasduq, TheOnlySmasduq, BMW, mercedes, toyota, background, for">
    <meta name="robots" content="index, nofollow">

    <link rel="stylesheet" href="../static/download.css">
    <link rel="icon" href="../static/smasduq.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2434490097488964"
     crossorigin="anonymous"></script>
    <title>Smasduq - Download</title>
</head>
<body>
    <header>
        <nav>
            <label id="logo">TheOnlySmasduq</label>
            <div class="ham-menu navbar-toggler" type="button" data-bs-toggle=collapse>
                <span></span>
                <span></span>
                <span></span>
                <div class="off-screen-menu">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="download.html">Download</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <input type="search" id="search" placeholder="Search">
        <div class="all" id="all1">
            
                <li class="clips-bg">
                    <a href="manga.html">
                        <img src="../img/20250511_060435.jpg" alt="Manga" height="200px" width="200px" id="manga" name="manga">
                        <br>
                        <span class="name">Manga</span>
                        <p>Download Manga animation clips here</p>
                    </a>
                </li>
            
                <li class="clips-bg">
                    <a href="anime.html">
                            <img src="../img/403100c729d0ef4551aeadfa57d9cbf7.jpg" alt="anime" height="200px" width="200px" id="anime" name="anime">
                            <br>
                            <span class="name">Anime</span>
                            <p>Download anime clips here</p>
                    </a>
                </li>
            
                <li class="clips-bg">
                    <a href="cars.html">
                        <img src="../img/2e14d9454e07214edc86c1b11174f3ba.jpg" alt="cars" id="cars" height="200px" width="200px" name="cars">
                        <br>
                        <span class="name">Cars</span>
                        <p>Download cars clips here</p>
                    </a>
                </li>
            
        </div>
    </main>
    

    <script>
        const shownav = document.querySelector('.ham-menu');

        const nav = document.querySelector('.off-screen-menu');

        shownav.addEventListener('click', () =>  {
            shownav.classList.toggle('active');
        nav.classList.toggle('active');
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/download.js" defer></script>
</body>
</html>
