<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" href="../static/smasduq.png" type="image/png">


    <link rel="stylesheet" href="../static/home.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2434490097488964"
     crossorigin="anonymous"></script>


    <title>Smasduq - Home</title>
</head>
<body>
    <header>
        
        <nav>
            <label id="logo">TheOnlySmasduq</label>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
                <div class="off-screen-menu">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="download.html">Download</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2 class="welcome">Welcome</h2>

        <p>You can have fun here.</p>

        <div class="container">
            <div class="box">
                <h2>Support Me</h2>
                <p>Click the bellow button to support me.</p>
                <button class="support-btn btn"><a href="support.html">Support Me</a></button>
            </div>
        </div>

        
    </main>
    <footer>
       
        <div class="bottom-link-wa">
            <h4>WhatsApp</h4>
            <a href="https://whatsapp.com/channel/0029VaiFe4JBPzjZVXXUVr0E" target="_blank">Join my WhatsApp channel</a>
        </div>
        <div class="bottom-link-tg">
            <h4>Telegram</h4>
            <a href="">Join my Telegram channel</a>
        </div>
        <div class="bottom-icon">
            <a href="https://www.instagram.com/s.masduq?igsh=OWszNDQIOGx0czVo" target="_blank"><i class="fab fa-instagram instagram"></i></a>
            <a href="https://youtube.com/@smasduq?si=CfZYdCopGAoR_k82" target="_blank"><i class="fab fa-youtube youtube"></i></a>
            <a href="https://github.com/smasduq" target="_blank"><i class="fab fa-github github"></i></a>
        </div>
        <p>Subscribe to my YouTube channel please.</p>
    </footer>
    <script href="../script/home.js">
        const shownav = document.querySelector('.ham-menu');

        const nav = document.querySelector('.off-screen-menu');

        shownav.addEventListener('click', () =>  {
            shownav.classList.toggle('active');
        nav.classList.toggle('active');
        })
    </script>
</body>
</html>
