<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/support.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2434490097488964"
     crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1>Support Me</h1>
    <hr>
    <table>
        
        <tr>
            <th>Bank Name |</th>
            <th>| Account No.</th>
        </tr>
        <tr>
            <td class="name">Moniepoint</td>
            <td>5540397598</td>
        </tr>
        <tr>
            <td class="name">Opay</td>
            <td>7041543965</td>
        </tr>
    </table>
    <p>Thanks alot!!!</p>
</body>
</html>
