* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    border-style: none;
    color: #fff;
}

body {
    background: linear-gradient(rgb(0 0 0), rgb(0 0 0), rgb(255 69 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255 255 255);
    font-family: 'consolas', sans-serif,  monospace;
}

nav {
    background-color: rgb(255 69 0);
    height: 80px;
    width: 100%;
    top: 0;
}

.logo {
    color: rgb(0 0 0);
    font-size: 35px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: bold;
    width: 40px;
    display: inline;
}

nav ul {
    float: right;
    margin-right: 20px;
    display: inline;
}

ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}

ul li a {
    color: rgb(0 0 0);
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 4px;
}

.active, a:hover {
    background-color: rgb(255 120 0);
    transition: .5s;
}

.head {
    padding-top: 100px;
}

.menu {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    width: 30px;
    margin: 1em 0 0 1em;
}
#check{
    display: none;
}

.menu div {
    height: 4px;
    background-color: #fff;
    width: 5px 0;
    border-radius: 25px;
    margin: 2px;
}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 10px;
}

.menu:hover div {
    width: 30px;
    transition: width .5s ease-in-out;
}

@media screen and (max-width: 952px){
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    li a {
        font-size: 16px;
    }

    p {
        margin: 0 20px;
    }

}

@media screen and (max-width: 858px){
    .menu {
        display: block;
        color: #000000;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100px;
        text-align: center;
        transition: all .5s;
        background-color: black;
        backdrop-filter: blur(10px);
        display: none;
    }

    .welcome {
        text-align: center;
    }

    p {
        margin: 0 15px;
    }

    ul li {
        display: block;
    }

    ul li a {
        font-size: 20px;
        color: rgb(255 69 0);
    }

    .active, a:hover {
        background-color: transparent;
        color: rgb(255 120 0);
    }

    #check:checked ~ ul {
        left: 0;
    }
}

@media screen and (max-width: 500px){
    body {
        font-size: 15px;
    }

    .logo {
        font-size: 35px;
        padding-left: 10px;
        line-height: 80px;
    }

    p {
        margin: 0 10px;
    }

    .welcome {
        text-align: center;
        font-size: 25px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        text-align: center;
        transition: all .5s;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
}