* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    border-style: none;
    color: #fff;
}

body {
    background: linear-gradient(rgb(0 0 0), rgb(0 0 0), rgb(255 69 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255 255 255);
    font-family: 'consolas', sans-serif,  monospace;
    height: 100vh;
}

.container  {
    text-align: center;
    height: 500px;
    margin-top: 50%;
    
}

footer {
    text-align: center;
   
}

a {
    color: blue;
}