* {
    text-decoration: none;
}
body {
    background-color: black;
    color: white;
    min-height: 100vh;
    font-style: italic;
}

h1 {
    font-family: "Press Start 2P", "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
}

#icon {
    border-radius: 50%;
}

.nav-bar {
    background-color: orangered;
    padding: 2px;
}

header nav div h1 {
    text-align: center;
    font-size: 30px;
    color: black;
}

.container {
    text-align: center;
}

.start-now {
    display: inline-block;
    color: orangered;
    padding: 15px 50px;
    border: 3px solid orangered;
    border-radius: 30%;
    background-color: transparent;
    cursor: pointer;
}

.start-now:hover {
    animation: pulsate 3s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px orange, 0 0 50px orangered;
    }
}